html,
body {
  font-family: "raleway";
  width: fit-content;
  max-width: 100%;
  margin: auto;
}

#bloc_page {
  padding-left: 20px;
  padding-right: 20px;
}
h1,
h2 {
  font-weight: bold;
}
/*navigation*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}
#ancres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 60px;
}

#liens_mobiles {
  margin-right: 60px;
}

#lien_hebergements {
  margin-right: 60px;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo img {
  width: 100px;
  height: 50px;
  padding-top: 15px;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  margin-right: 15px;
}
nav a {
  color: black;
  text-decoration: none;
}
nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 27px;
}
#inscription {
  color: #0065fc;
  font-weight: bold;
  padding-top: 16px;
}

/*Bloc recherche*/
#recherche h1 {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 8px;
}
form {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  width: 370px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.map {
  border: 1px solid #f2f2f2;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2f3;
  text-align: center;
  padding-top: 12px;
  width: 40px;
  height: 30px;
}
input {
  border: none;
  width: 220px;
  height: 40px;
  padding-left: 10px;
  font-weight: bold;
}
#bouton {
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
  color: white;
  width: 110px;
  height: 40px;
  font-weight: bold;
}
#search {
  display: none;
}
/*Bloc Filtres*/
#filtres {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-top: 10px;
}
#liens a {
  text-decoration: none;
  color: black;
}
#liens a:hover {
  color: #0065fc;
}
#titre {
  padding-top: 10px;
  margin-right: 20px;
  padding-left: 17px;
}
#filtres ul {
  display: flex;
  list-style-type: none;
}
#filtres li {
  padding-right: 20px;
}
#filtres i {
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 30px;
  background-color: #deebfff8;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
#eco,
#famille,
#romantique,
#animaux {
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 38px;
  width: auto;
  margin-right: 40px;
}
#billet,
#enfant,
#coeur,
#chien {
  text-align: center;
  padding-top: 7px;
}
#info {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 5px 0px 0px 10px;
}
#reponse {
  margin: 30px 0 30px 0;
}

/*information */

.information {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.bouton_info {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  text-align: center;
  color: #0065fc;
  margin-right: 7px;
}

/*Hébergements */

.titre {
  padding-left: 16px;
}

.forme {
  display: flex;
  margin-top: 25px;
}

#marseille {
  flex: 2;
  height: auto;
  width: 65%;
  margin-right: 60px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
}

#liste {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.colone {
  width: 500px;
  height: 50%;
  margin-right: 50px;
  text-decoration: none;
}

#cliquable {
  color: black;
  text-decoration: none;
  border-radius: 15px;
  padding-left: 3px;
  height: 150px;
  width: 150px;
  box-shadow: 2px 2px 2px rgb(128, 128, 128);
}

.clic2 {
  text-decoration: none;
  color: black;
}

.images {
  width: 99%;
  height: 180px;
  border-radius: 15px 15px 0 0;
}

.alignement {
  display: flex;
  background-color: white;
  color: black;
  width: 500px;
  height: 200px;
  margin: 15px auto 25px 15px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(182, 182, 182);
}

.imagespop {
  width: 200px;
  height: 195px;
  border-radius: 20px 0px 0 20px;
  padding: 3px 4px 3px 3px;
}

.plus {
  text-decoration: none;
  color: black;
}

.populaire {
  flex: 1;
  background-color: #f2f2f2;
  height: auto;
  width: 35%;
  border-radius: 10px;
  margin-right: 48px;
  text-decoration: none;
  color: black;
}

.enbas {
  display: flex;
  flex-direction: column;
}

.pop2 {
  height: fit-content;
  border-radius: 15px;
}

#cannebiere,
#hotel_mer,
#hotel_port,
#auberge_panier,
#mouettes,
#amina {
  background-color: white;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: 2px 2px 2px rgb(182, 182, 182);
}

.textalign {
  padding-left: 10px;
}

h4 {
  text-decoration: none;
}
a {
  text-decoration: none;
}

.blue1 {
  color: #0065fc;
}

.grise1 {
  color: #f2f2f2;
}

#placement {
  display: flex;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: -3%;
}

.bas {
  margin-top: 80px;
  padding-top: 12px;
}

.bas2 {
  margin-left: 15px;
}

.droite {
  padding-left: 15px;
  margin-bottom: 2px;
}

#icone {
  padding-top: 15px;
  padding-left: 240px;
  width: 45px;
  height: 45px;
}

#graph {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
}

#icone2 {
  display: none;
}

/* Activités à Marseille */

#activitemarseille {
  margin-top: 75px;
}

#actimarseille {
  display: flex;
}

#vieuxport,
#pomegues,
#frioul,
#calanques,
#eglise,
#longchamp {
  display: flex;
  align-content: space-between;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(182, 182, 182);
  width: 400px;
  height: fit-content;
  margin-right: 50px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.photogrande {
  height: 500px;
  width: 398px;
  border-radius: 10px 10px 0 0;
  padding-left: 2px;
}

.photopetite {
  height: 290px;
  width: 398px;
  border-radius: 10px 10px 0 0;
  padding-left: 2px;
}

.photopetite2 {
  height: 130px;
  width: 398px;
  border-radius: 10px 10px 0 0;
  padding-left: 2px;
}

.imagesidentique {
  height: 210px;
  width: 398px;
  border-radius: 10px 10px 0 0;
  padding-left: 2px;
}

.decalage {
  padding-left: 6px;
}

/* footer */

.flex {
  display: flex;
  background-color: #f2f2f2;
  width: 100%;
}

.a_propos,
.nos_heberg,
.assistance {
  width: 33%;
  text-align: left;
  padding-left: 10px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.cliquable2 {
  text-decoration: none;
  background-color: #f2f2f2;
  color: black;
}

/* responsive */

@media all and (max-width: 667px) {
  body {
    width: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  #bloc_page {
    margin: 0px;
    padding: 0px;
  }
  header {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  #logo {
    margin-top: 0px;
  }
  #logo img {
    margin-top: 20px;
  }
  #ancres {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }

  nav {
    width: auto;
  }

  nav ul {
    width: 100%;
    padding: 0px;
  }

  nav li {
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
  }

  nav span {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  nav a:hover {
    padding-top: 37px;
  }
  nav li a:hover {
    border-top: none;
  }
  nav li:hover {
    border-color: #0065fc;
    color: #0065fc;
  }

  /* bloc recherche */

  .block_recherche {
    padding-left: 20px;
    padding-right: 20px;
  }

  form {
    width: auto;
    margin-top: 30px;
  }

  #map {
    width: 10%;
  }

  input {
    width: 80%;
  }

  #bouton {
    width: 10%;
    border-radius: 10px;
  }

  #text_rechercher {
    display: none;
  }

  #search {
    display: block;
  }

  /*block filtre */

  #filtres {
    flex-wrap: wrap;
    width: 100%;
  }

  #filtres li {
    padding-right: 0px;
  }

  #liens ul {
    flex-wrap: wrap;
  }

  #liens li {
    margin-bottom: 10px;
  }

  #titre {
    margin-bottom: 20px;
  }

  .information {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
  }

  .bouton_info {
    margin-bottom: 19px;
  }

  /* les plus polaires */

  aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  #titrepop {
    font-size: 1em;
    width: 80%;
  }

  .largeur {
    width: fit-content;
  }

  .imagespop {
    width: 182px;
  }

  .populaire {
    width: auto;
    margin-right: 2px;
    margin-bottom: 5px;
    border-radius: 0%;
  }

  .cliquable {
    width: auto;
  }

  .bas {
    margin-top: 45px;
  }

  #icone {
    display: none;
  }

  #icone2 {
    width: 20%;
    display: block;
    margin-top: 10px;
    padding-left: 40px;
  }

  span {
    width: auto;
    display: flex;
  }

  .bas {
    margin-top: 0%;
  }

  /* bloc hébergement marseille */

  .forme {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
  }

  .colone {
    width: 100%;
  }

  #cannebiere,
  #hotel_mer,
  #hotel_port,
  #auberge_panier,
  #mouettes,
  #amina {
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgb(128, 128, 128);
  }

  .images {
    width: 100%;
  }

  #placement {
    display: flex;
    margin-left: 2px;
  }

  .alignement {
    width: auto;
    margin-left: 2px;
    margin-right: 4px;
  }

  #liste {
    flex-direction: column;
  }

  #marseille {
    width: auto;
    flex-direction: column;
    margin-right: 2px;
    background-color: white;
    border: none;
    border-radius: 0%;
  }

  /* activités à Marseille */

  #activitemarseille {
    width: auto;
  }

  #actimarseille {
    flex-direction: column;
    margin-left: 0%;
  }

  .titreactivite {
    margin-left: 2%;
  }

  .clic2 {
    width: auto;
  }

  .photogrande,
  .photopetite2 {
    height: 20%;
    width: 100%;
  }

  .photopetite {
    height: 220px;
    width: 305px;
  }

  .imagesidentique {
    height: 20%;
    width: 100%;
  }

  #pomegues {
    height: 33%;
    width: fit-content;
  }

  #vieuxport,
  #frioul,
  #calanques,
  #eglise,
  #longchamp {
    width: fit-content;
  }

  /* footer */

  .flex {
    flex-direction: column;
    width: auto;
  }
}

/* responsive tablette */

@media all and (min-width: 668px) and (max-width: 1024px) {
  body {
    width: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  #bloc_page {
    margin: 0px;
    padding: 0px;
  }
  header {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  #logo {
    margin-top: 0px;
  }
  #logo img {
    margin-top: 20px;
  }
  #ancres {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }

  nav {
    width: auto;
  }

  nav ul {
    width: 100%;
    padding: 0px;
  }

  nav li {
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
  }

  nav span {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  nav a:hover {
    padding-top: 37px;
  }
  nav li a:hover {
    border-top: none;
  }
  nav li:hover {
    border-color: #0065fc;
    color: #0065fc;
  }

  /* bloc recherche */

  .block_recherche {
    padding-left: 20px;
    padding-right: 20px;
  }

  form {
    width: auto;
    margin-top: 30px;
  }

  #map {
    width: 10%;
  }

  input {
    width: 80%;
  }

  #bouton {
    width: 10%;
    border-radius: 10px;
  }

  #text_rechercher {
    display: none;
  }

  #search {
    display: block;
  }

  /*block filtre */

  #filtres {
    width: 100%;
    flex-direction: row;
  }

  #liens ul {
    flex-wrap: wrap;
  }

  #liens li {
    margin-bottom: 10px;
  }

  #titre {
    margin-bottom: 20px;
  }

  /* les plus polaires */

  aside {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #f2f2f2;
  }

  #graph {
    margin-left: 150px;
  }

  .pop2 {
    width: fit-content;
    display: flex;
    margin-top: 2px;
  }

  .alignement {
    width: fit-content;
    margin-left: 2px;
    box-shadow: 2px 2px 2px 2px rgb(182, 182, 182);
  }

  #titrepop {
    font-size: 1.3em;
    width: 80%;
    margin-bottom: 5px;
  }

  .largeur {
    width: fit-content;
  }

  .imagespop {
    width: 100%;
  }

  .populaire {
    width: auto;
    margin-right: 2px;
    margin-bottom: 5px;
    border-radius: 0%;
    background-color: white;
  }

  .cliquable {
    width: 33%;
    margin-top: 25px;
  }

  .bas {
    margin-top: 45px;
  }

  #icone {
    display: none;
  }

  #icone2 {
    width: 20%;
    display: block;
    margin-top: 18px;
    padding-left: 40px;
  }

  span {
    width: auto;
    display: flex;
  }

  .bas {
    margin-top: 0%;
  }

  /* bloc hébergement marseille */

  .forme {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
  }

  #liste {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-left: 45px;
  }

  .colone {
    width: auto;
    display: flex;
  }

  #cannebiere,
  #hotel_mer,
  #hotel_port,
  #auberge_panier,
  #mouettes,
  #amina {
    width: auto;
    box-shadow: 2px 2px 2px 2px rgb(128, 128, 128);
    display: flex;
  }

  a {
    width: 50%;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .images {
    width: 50%;
    border-radius: 15px 0px 0px 15px;
  }

  #placement {
    display: flex;
    margin-left: 2px;
  }

  #liste {
    flex-direction: column;
  }

  #marseille {
    width: 100%;
    flex-direction: column;
    margin-right: 2px;
    background-color: #f2f2f2f8;
    border: none;
    border-radius: 0%;
  }

  /* activités à Marseille */

  #activitemarseille {
    width: auto;
    margin-top: 15px;
  }

  #actimarseille {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
  }

  .titreactivite {
    margin-left: 2%;
  }

  .clic2 {
    width: 100%;
    margin: 0%;
  }

  .photogrande {
    height: 20%;
    width: 100%;
  }

  .photopetite2 {
    height: auto;
    width: 100%;
  }

  .photopetite {
    width: 100%;
    height: 25%;
  }

  .imagesidentique {
    height: 20%;
    width: 100%;
  }

  #pomegues {
    height: 33%;
    width: auto;
  }

  #vieuxport,
  #frioul,
  #calanques,
  #eglise,
  #longchamp {
    width: auto;
  }

  .decalage {
    text-align: center;
  }

  /* footer */

  .flex {
    width: 100%;
  }
}
